<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First_heading</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" 
rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    
    <div class="container">
        <div>
        <div class="row"> 
            <div id="texto1" class="col-8  mt-5">
                <div class="row"><H1 class="ml-3">The First Heading  <H1 class="text-secondary"> Will Catch Your Eye</H1></H1></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac turpis id massa ultricies congue non sed elit. Sed sed purus a nunc eleifend rhoncus. Donec enim purus, interdum mollis dictum eu, aliquam at odio. </p>
            </div>

            <div class="col-4">
                <img class="rounded-circle mt-5 mb-5 float-right" id="imagen1" src="./assets/img/1.jpg" alt="">
            </div>
         </div>
        </div>
    </div>

</body>
</html>
